html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*======== END OF RESET ========*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	overflow: hidden;
	height: 100%;
	width: 100%;
	color: #666;
	background: #FFF;
	cursor: default;
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
p {
	margin: 0;
}
input {
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 2px solid #CCC;
	height: 32px;
	width: 300px;
	line-height: 18px;
	padding: 5px 10px;
	vertical-align: middle;
	font: inherit;
	font-size: 14px;
}
input:focus {
	outline: 0;
}
button {
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 2px solid #CCC;
	font-weight: bold;
	background: #CCC;
	color: #333;
	height: 28px;
	padding: 0 20px;
	margin: 0;
	clear: both;
	vertical-align: middle;
}
button:focus {
	outline: 0;
}
button:hover {
	background: #FFF;
}
a {
	text-decoration: none;
	color: inherit;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

#mainColumn {
	position: absolute;
	top: 0;
	right: 250px;
	bottom: 0;
	left: 0;
}
	#header {
		position: absolute;
		height: 70px;
		top: 0;
		right: 0;
		left: 0;
		background: #FFF;
		z-index: 50;
	}
		#logo {
			margin: 10px 20px;
			height: 50px;
			float: left;
		}
		#menu {
			float: left;
			height: 50px;
			margin: 10px 0;
			border-left: 2px dotted #CCC;
		}
			#menu li {
				float: left;
				height: 50px;
				padding: 0 20px;
				border-right: 2px dotted #CCC;
			}
				#menu li a {
					float: left;
					height: 20px;
					margin: 30px 0 0 0;
				}
			/* #menu li */
		/* #menu */
	/* #header */
	#subheader {
		position: absolute;
		height: 28px;
		padding: 2px 0 0 2px;
		top: 70px;
		right: 0;
		left: 0;
		background: #999;
		border-bottom: 2px solid #666;
		z-index: 50;
	}
		.submenu {
			float: left;
			border-right: 2px solid #666;
			margin-right: 2px;
		}
		.submenu:last-child {
			border-right: none;
		}
			.submenu>li {
				float: left;
				cursor: pointer;
				position: relative;
				height: 26px;
				width: 26px;
				margin-right: 2px;
				background: #FFF;
			}
			#play.selected,
			#pause.selected,
			.submenu>li:hover {
				background: #CCC;
			}
			.submenu>li>span {
				display: none;
			}
			.submenu>li>img {
				width: 26px;
				height: 26px;
			}
		/* .submenu */
	/* #subheader */
	#middleSection {
		position: absolute;
		right: 0;
		left: 0;
		background: #666;
	}
	#middleSection.editor {
		top: 102px;
		bottom: 64px;
		z-index: 0;
	}
	#middleSection.page {
		border-top: 2px solid #666;
		top: 70px;
		bottom: 0;
		overflow: auto;
	}
		#toolbar {
			position: absolute;
			background: #999;
			border-right: 2px solid #666;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 50;
		}
			#tools {
				width: 50px;
			}
				#stageTools:after,
				#drawingToolOptions:after {
					content: "";
					display: block;
					width: 46px;
					height: 2px;
					margin: 2px;
					background: #666;
				}
				#drawingToolOptionsButton,
				.tool {
					position: relative;
					width: 32px;
					height: 32px;
					padding: 7px;
					margin: 2px;
					background: #FFF;
					overflow: hidden;
					cursor: pointer;
				}
				.tool:hover:after,
				.tool.selected:after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					width: 4px;
				}
				.tool:hover:after {
					background: #F99;
				}
				.tool.selected:after {
					background: #F33;
				}
				#drawingToolOptionsButton>div {
					position: absolute;
					background: #000;
					left: 50%;
					top: 50%;
					width: 20px;
					height: 20px;
					border-radius: 100px;
					-moz-border-radius: 100px;
					-webkit-border-radius: 100px;
					transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
				}
			/* #tools */
			#toolbarOverlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #999;
				opacity: 0.5;
			}
		/* #toolbar */
		#canvasContainer {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 52px;
			z-index: 0;
		}
			#canvasContainer.cursor {
				cursor: cursor;
			}
			#canvasContainer.draw {
				cursor: crosshair;
			}
			#canvasContainer.grab {
				cursor: -webkit-grab;
				cursor: grab;
			}
			#canvasContainer.grabbing {
				cursor: -webkit-grabbing;
				cursor: grabbing;
				
			}
			#canvasContainer.none {
				cursor: none;
			}
			#canvasContainer.pointer {
				cursor: pointer;
			}
			#canvas {
				width: 100%;
				height: 100%;
			}
		/* #canvasContainer */
		#middleSection.page>div {
			padding: 20px;
			margin: 10px auto;
			max-width: 800px;
			background: #fff;
		}
			#middleSection.page>div h1 {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 16px;
			}
			#middleSection.page>div p {
				margin-bottom: 16px;
			}
		/* #page */
	/* #middleSection */
	#bottomSection {
		position: absolute;
		height: 92px;
		right: 0;
		bottom: 0;
		left: 0;
		background: #999;
		border-top: 2px solid #666;
		overflow: hidden;
	}
		#addLayer {
			position: absolute;
			top: 22px;
			width: 198px;
			height: 18px;
			left: 2px;
			text-align: center;
			vertical-align: middle;
			line-height: 18px;
			font-size: 16px;
			font-weight: bold;
			background: #CCC;
			color: #333;
			cursor: pointer;
		}
		#layerControls {
			position: absolute;
			top: 42px;
			width: 198px;
			bottom: 22px;
			left: 2px;
			overflow: hidden;
		}
			.layerControl {
				position: relative;
				width: 100%;
				height: 28px;
				margin-bottom: 2px;
				background: #FFF;
				cursor: pointer;
			}
				.layerControl>span {
					position: absolute;
					top: 4px;
					right: 52px;
					bottom: 4px;
					left: 4px;
					vertical-align: middle;
					padding-left: 4px;
					line-height: 20px;
					font-size: 14px;
					font-weight: bold;
					text-overflow: ellipsis;
					overflow: hidden;
					color: #333;
					white-space: nowrap;
				}
				.layerControl>span:hover {
					background: #ccc;
				}
				.hideLayer {
					position: absolute;
					height: 20px;
					width: 20px;
					top: 4px;
					right: 28px;
				}
				.hideLayer:before {
					content: "";
					display: block;
					position: absolute;
					height: 8px;
					width: 8px;
					top: 4px;
					right: 4px;
					border: 2px solid #666;
					border-radius: 9px 0;
					transform:rotate(45deg);
					-ms-transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
				}
				.hideLayer:after {
					background: #CCC;
					content: "";
					display: block;
					position: absolute;
					height: 6px;
					width: 6px;
					top: 7px;
					right: 7px;
					background: #666;
					border-radius: 6px;
				}
				.hideLayer:hover {
					background: #CCC;
				}
				.unhideLayer {
					position: absolute;
					height: 20px;
					width: 20px;
					top: 4px;
					right: 28px;
				}
				.unhideLayer:before {
					content: "";
					display: block;
					position: absolute;
					height: 8px;
					width: 8px;
					top: 4px;
					right: 4px;
					border: 2px solid #999;
					border-radius: 12px 0;
					transform:rotate(45deg);
					-ms-transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
				}
				.unhideLayer:hover {
					background: #CCC;
				}
				.removeLayer {
					position: absolute;
					height: 20px;
					width: 20px;
					top: 4px;
					right: 8px;
				}
				.removeLayer:before,
				.removeLayer:after {
					background: #CCC;
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					width: 12px;
					top: 9px;
					right: 4px;
					background: #666;
				}
				.removeLayer:before {
					transform:rotate(45deg);
					-ms-transform:rotate(45deg);
					-webkit-transform:rotate(45deg);
				}
				.removeLayer:after {
					transform:rotate(320deg);
					-ms-transform:rotate(320deg);
					-webkit-transform:rotate(320deg);
				}
				.removeLayer:hover {
					background: #CCC;
				}
				.layerControl.selected:before,
				.layerControl.hover:before,
				.layerControl:hover:before {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					height: 100%;
					width: 4px;
				}
				.layerControl.hover:before,
				.layerControl:hover:before {
					background: #F99;
				}
				.layerControl.selected:before {
					background: #F33;
				}
			/* .layerControl */
		/* #layerControls */
		#headerCells {
			position: absolute;
			overflow: hidden;
			top: 2px;
			right: 42px;
			height: 40px;
			left: 202px;
		}
		#layerRows {
			position: absolute;
			overflow: hidden;
			top: 42px;
			right: 42px;
			bottom: 22px;
			left: 202px;
		}
			#indexCells,
			#pointerCells,
			.layerCells {
				float: left;
				clear: both;
				white-space: nowrap;
			}
			#indexCells,
			#pointerCells {
				height: 20px;
			}
			.layerCells {
				height: 30px;
			}
			.layerCells:last-child {
				height: 28px;
			}
				.layerCells:last-child .layerCell {
					border-bottom-width: 0;
				}
				.indexCell,
				.pointerCell,
				.layerCell {
					display: inline-block;
					position: relative;
					border-color: #999;
					border-style: solid;
					border-width: 0 2px 2px 0;
				}
				.indexCell:last-child,
				.pointerCell:last-child,
				.layerCell:last-child {
					border-right-width: 0;
				}
				.indexCell,
				.pointerCell {
					height: 18px;
				}
				.pointerCell,
				.layerCell {
					width: 18px;
					background: #FFF;
					cursor: pointer;
				}
				.indexCell {
					width: 16px;
					padding-left: 2px;
					vertical-align: middle;
					line-height: 18px;
					font-size: 12px;
					font-weight: bold;
					background: #CCC;
					color: #333;
				}
				.pointerCell {
					color: #333;
					height: 18px;
				}
					.pointerCell.selected:before,
					.pointerCell.hover:before,
					.pointerCell:hover:before {
						content: "";
						display: block;
						position: absolute;
						bottom: 0;
						left: 2px;
						border-right: 7px solid transparent;
						border-left: 7px solid transparent;
					}
					.pointerCell.hover:before,
					.pointerCell:hover:before {
						border-top: 10px solid #F99;
					}
					.pointerCell.selected:before {
						border-top: 10px solid #F33;
					}
				/* .pointerCell */
				.layerCell {
					height: 28px;
				}
					.layerCell:hover,
					.layerCell.hover {
						position: relative;
						width: 18px;
						height: 28px;
						background: #F99;
						border-right: 2px solid #999;
					}
					.layerCell.selected {
						position: relative;
						width: 18px;
						height: 28px;
						background: #F33;
						border-right: 2px solid #999;
					}
					.emptyKeyCell:before {
						content: "";
						display: block;
						position: absolute;
						width: 8px;
						height: 8px;
						top: 9px;
						left: 3px;
						border: 2px solid #333;
						background: #FFF;
						border-radius: 8px;
						-moz-border-radius: 8px;
						-webkit-border-radius: 8px;
					}
					.keyCell:before {
						content: "";
						display: block;
						position: absolute;
						width: 12px;
						height: 12px;
						top: 9px;
						left: 3px;
						background: #333;
						border-radius: 12px;
						-moz-border-radius: 12px;
						-webkit-border-radius: 12px;
					}
				/* .layerCells */
			/* #indexCells, #pointerCells, .layerCells */
		/* #timeline */
		#timelineHScroll {
			position: absolute;
			height: 18px;
			right: 42px;
			bottom: 2px;
			left: 202px;
			background: #666;
			overflow: hidden;
		}
			#timelineHScroll>div {
				display: block;
				position: absolute;
				height: 14px;
				width: 100%;
				margin: 2px 0;
				background: #999;
				cursor: grab;
				cursor: -webkit-grab;
			}
			#timelineHScroll>div:active {
				cursor: grabbing;
				cursor: -webkit-grabbing;
			}
			#timelineHScroll>div:before {
				content: "";
				display: block;
				position: absolute;
				top: 2px;
				height: 10px;
				width: 8px;
				left: 50%;
				transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				border-color: #666;
				border-style: solid;
				border-width: 0 2px;
			}
			#timelineHScroll>div:after {
				content: "";
				display: block;
				position: absolute;
				top: 2px;
				height: 10px;
				width: 2px;
				left: 50%;
				transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				background: #666;
			}
		/* #timelineHScroll */
		#setFrames {
			position: absolute;
			top: 42px;
			right: 22px;
			bottom: 22px;
			width: 18px;
			cursor: pointer;
			background: #CCC;
		}
			#setFrames>span {
				position: absolute;
				width: 18px;
				top: 50%;
				transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				text-align: center;
				font-weight: bold;
				color: #333;
			}
		/* #setFrames */
		#timelineVScroll {
			position: absolute;
			top: 42px;
			right: 2px;
			bottom: 22px;
			width: 18px;
			background: #666;
			overflow: hidden;
		}
			#timelineVScroll>div {
				display: block;
				position: absolute;
				height: 100%;
				width: 14px;
				margin: 0 2px;
				background: #999;
				cursor: grab;
				cursor: -webkit-grab;
			}
			#timelineVScroll>div:active {
				cursor: grabbing;
				cursor: -webkit-grabbing;
			}
			#timelineVScroll>div:before {
				content: "";
				display: block;
				position: absolute;
				left: 2px;
				height: 8px;
				width: 10px;
				top: 50%;
				transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				border-color: #666;
				border-style: solid;
				border-width: 2px 0;
			}
			#timelineVScroll>div:after {
				content: "";
				display: block;
				position: absolute;
				left: 2px;
				height: 2px;
				width: 10px;
				top: 50%;
				transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				background: #666;
			}
		/* #timelineVScroll */
		#timelineOverlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #999;
			opacity: 0.5;
		}
	/* #bottomSection */
	
	
	
	/*
		.emptyKeyFrame::before {
			content: "";
			display: block;
			width: 8px;
			height: 8px;
			margin: 8px 3px;
			border: 2px solid #666;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			border-radius: 8px;
		}
		.keyFrame::before {
			content: "";
			display: block;
			width: 12px;
			height: 12px;
			margin: 8px 3px;
			background: #666;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			border-radius: 8px;
		}
		.tweenFrame::before {
			content: "";
			display: block;
			width: 18px;
			height: 13px;
			border-bottom: 2px solid #666;
		}
		.tweenFrameEnd::before {
			content: "";
			display: block;
			width: 8px;
			height: 13px;
			border-bottom: 2px solid #666;
		}
		.tweenFrameEnd::after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: 8px;
			right: 0;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 10px solid #666;
		}
		#timelineScroll {
			width: 100%;
			height: 10px;
		}
			#timelineScroll>div {
				height: 8px;
				width: 200px;
				background: #666;
			}
			
			
			
/* #mainColumn */
#sideColumn {
	background: #CCC;
	position: absolute;
	width: 248px;
	top: 0;
	right: 0;
	bottom: 0;
	border-left: 2px solid #666;
}
	.widget {
		margin: 0 10px;
		padding: 10px 0;
		border-bottom: 2px dotted #666;
	}
	.widget h2 {
		font-weight: bold;
		text-align: center;
	}
	.widget h2,
	.widget p,
	.widget a{
		color: #333;
	}
	.widget h2 {
		margin-bottom: 8px;
	}
	.widget p {
		margin-bottom: 4px;
	}
	.widget p.small {
		font-size: 12px;
		text-align: justify;
	}
	.widget a {
		text-decoration: underline;
	}
	.widget input {
		width: 100%;
		margin-bottom: 8px;
		border-color: #999;
	}
	.widget input.secondary {
		background-color: #999;
		padding: 0;
		height: 24px;
		border: 0;
	}
		.errors,
		.alerts {
			background: #FFF;
			margin: 8px 0;
			padding: 8px 8px 0;
			font-size: 12px;
			font-weight: bold;
			border: 2px solid #999;
		}
		.errors {
			border-color: #F33;
		}
		.errors li,
		.alerts li {
			padding-bottom: 8px;
		}
		.errors li {
			color: #f33;
		}
		.notification {
			background: #FFF;
			margin: 8px 0;
			padding: 8px;
			color: #333;
			font-size: 12px;
			font-weight: bold;
			border: 2px solid #999;
		}
#tooltip {
	background: #333;
	padding: 8px 18px;
	font-size: 12px;
	color: #CCC;
	position: fixed;
	z-index: 75;
	text-align: center;
}
	#tooltip.above:before,
	#tooltip.right:before,
	#tooltip.below:before,
	#tooltip.left:before {
		content: "";
		display: block;
		position: absolute;
		background: #333;
		height: 10px;
		width: 10px;
	}
	#tooltip.above:before,
	#tooltip.below:before {
		left: 50%;
		transform: translateX(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) rotate(45deg);
		-webkit-transform: translateX(-50%) rotate(45deg);
	}
	#tooltip.right:before,
	#tooltip.left:before {
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
		-ms-transform: translateY(-50%) rotate(45deg);
		-webkit-transform: translateY(-50%) rotate(45deg);
	}
	#tooltip.above:before {
		bottom: -5px;
	}
	#tooltip.right:before {
		left: -5px;
	}
	#tooltip.below:before {
		top: -5px;
	}
	#tooltip.left:before {
		right: -5px;
	}
/* #tooltip */	
#overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	cursor: pointer;
}
#overlay.dim {
	background: rgba(0, 0, 0, 0.5);
}
	#drawingToolOptionsDialog {
		position: fixed;
		left: 62px;
		width: 200px;
		min-height: 30px;
		background: #FFF;
		border: 2px solid #999;
		padding: 18px;
		font-size: 14px;
		z-index: 100;
		cursor: auto;
	}
	#drawingToolOptionsDialog:before {
		content: "";
		display: block;
		position: absolute;
		top: 35%;
		left: -12px;
		width: 18px;
		height: 18px;
		background: #FFF;
		border: 2px solid #999;
		border-top: none;
		border-right: none;
		transform: translateY(-50%) rotate(45deg);
		-ms-transform: translateY(-50%) rotate(45deg);
		-webkit-transform: translateY(-50%) rotate(45deg);
		z-index: 50;
	}
		#drawingToolOptionsTitle {
			font-weight: bold;
			color: #333;
		}
		#drawingToolOptionsTitle,
		#colorRGB,
		#colorHSL {
			margin-bottom: 8px;
		}
		#drawingToolOptionsDialog>div>p {
			display: inline-block;
			padding-bottom: 4px;
		}
			.slider {
				position: relative;
				height: 22px;
				margin-bottom: 2px;
			}
				.slider>span {
					display: block;
					line-height: 22px;
					
				}
				.sliderTrack {
					position: absolute;
					top: 0;
					right: 0;
					left: 18px;
					height: 18px;
					border: 2px solid #999;
					background: #CCC;
				}
					.sliderHandle {
						position: absolute;
						height: 18px;
						width: 4px;
						background: #666;
					}
			#strokeWidthSlider {
				position: relative;
				margin-left: 18px;
				padding: 8px 0;
				height: 2px;
				background: #CCC;
				border: 2px solid #999;
			}
				#strokeWidthSlider>div {
					position: absolute;
					top: 0;
					height: 18px;
					width: 4px;
					background: #666;
				}
	/* #toolOptions */
	#overlayContainer {
		position: absolute;
		padding: 18px;
		background: #FFF;
		overflow: hidden;
		box-shadow: 0 5px 10px rgba(0,0,0,0.5);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		cursor: auto;
	}
		#prompt {
			text-align: center;
		}
			#prompt>p,
			#prompt>input {
				margin: 0 0 8px;
			}
			#prompt>input {
				width: 320px;
			}
		#settings {
		}
		#save {
		}
		#load {
		}
		#publish {
		}
	/* #overlayContainer */
/* #overlay */
.vCenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.hidden {
	display: none;
}
